<html>
    <head>
        <style>
			body {
				font-family: sans-serif;
			}
			h1 {
				text-align: center;
			}
			a {
				padding-right: 15px;
			}
			nav {
				text-align: center;
			}
		</style>
    </head>

    <body>
        <h1>Contact us</h1>
        <nav>
            <a href="/">home</a>
            <a href="/team">team</a>
            <a href="/proposal">proposal</a>     
            <a href="/donate">donate</a>     
            <a href="/contact">contact</a>     
        </nav>
        <hr>

        <a href="mailto:stemolympians@gmail.com">Email us</a>
    </body>
</html>