<html>
    <head>
        <style>
			body {
				font-family: sans-serif;
			}
			h1 {
				text-align: center;
			}
			a {
				padding-right: 15px;
			}
			nav {
				text-align: center;
			}
		</style>
    </head>

    <body>
        <h1>Proposal</h1>
        <nav>
            <a href="/">home</a>
            <a href="/team">team</a>
            <a href="/proposal">proposal</a>     
            <a href="/donate">donate</a>     
            <a href="/contact">contact</a>     
        </nav>
        <hr>

        <p>
        Do you thrive on competition and enjoy pushing the boundaries of your knowledge and skills? If so, we invite you to join our exciting initiative, the STEM Olympians Club! Our club is dedicated to fostering a culture of teamwork among STEM enthusiasts while preparing members to excel in various STEM competitions. <br><br>

        The primary objective of the STEM Olympians Club is to provide a supportive and enriching environment for students interested in exploring and implementing their scientific passion in STEM competitions. Through this club, members will <br><br>
        &nbsp;<li>Learn by doing - developing their STEM skills and knowledge through competing in collaborative teams in various competitions</li><br>
        &nbsp;<li>Collaborate with like-minded individuals to gain experience with real world projects</li><br>
        &nbsp;<li>Gain valuable experience and exposure to a wide range of STEM disciplines including system engineering, product design, and scientific research</li><br>
        &nbsp;<li>Represent our school with pride and distinction at local, regional, and national STEM competitions.</li><br><br>
        Goals: <br>
        &nbsp;<li>Compose a competitive and motivated team that truly enjoy Science, Technology, and Engineering</li> <br>
        &nbsp;<li>Compete in various impactful competitions to improve real-world engineering technology skillset</li> <br>
        &nbsp;<li>Enrich the community by expanding knowledge of STEM through active outreach and community services</li><br>
        </p>
    </body>
</html>