<html>
    <head>
        <style>
			body {
				font-family: sans-serif;
			}
			h1 {
				text-align: center;
			}
			a {
				padding-right: 15px;
			}
			nav {
				text-align: center;
			}
            div {
                padding-bottom: 20px;
            }
		</style>
    </head>

    <body>
        <h1>Our Team</h1>
        <nav>
            <a href="/">home</a>
            <a href="/team">team</a>
            <a href="/proposal">proposal</a>     
            <a href="/donate">donate</a>     
            <a href="/contact">contact</a>     
        </nav>
        <hr>

        <div id="ryan">
            <img src="../resources/Ryan.jpg" width="300px" alt="Ryan Wang">
            <p>Ryan Wang - Co President</p>
        </div> 

        <div id="brandon">
            <img src="../resources/Brandon.png" width="300px" alt="Bryan Ngyuen">
            <p>Brandon Ngyuen - Co President</p>
        </div>

        <div id="tildenAndMadeline">
            <img src="../resources/Tilden.JPG" width="300px" alt="Tilden Devoss and Madeline Yung">
            <p>Tilden Devoss and Madeline Yung - Tresurer</p>
        </div>

        <div id="atlas">
            <img src="../resources/Atlas.jpg" width="300px" alt="Atlas Ricardo Barreto">
            <p>Atlas Ricardo Barreto</p>
        </div>

        <div id="charlotte">
            <img src="../resources/Charlotte.jpg" width="300px" alt="Charlotte Wong">
            <p>Charlotte Wong - Outreach Lead</p>
        </div>

        <div id="atom">
            <img src="../resources/Atom.jpg" width="300px" alt="Atom Egan">
            <p>Atom Egan - Outreach Assitant</p>
        </div>

    </body>
</html>